{% if maxPages > 1 %}
    <nav aria-label="Employees pagination">
        <ul class="pagination pagination-sm">
            <li class="page-item{{ page == 1 ? ' disabled' }}">
                <a class="page-link"
                   href="{{ path('homepage', {department_id: department.getDeptNo(), page: 1}) }}"
                   aria-label="Begin">
                    <span aria-hidden="true">&#8676;</span>
                </a>
            </li>

            <li class="page-item{{ page == 1 ? ' disabled' }}">
                <a class="page-link"
                   href="{{ path('homepage', {department_id: department.getDeptNo(), page: page-bigStep < 1 ? 1 : page-bigStep}) }}"
                   aria-label="Big step left">
                    <span aria-hidden="true">-{{ bigStep }}</span>
                </a>
            </li>

            <li class="page-item{{ page == 1 ? ' disabled' }}">
                <a class="page-link"
                   href="{{ path('homepage', {department_id: department.getDeptNo(), page: page-smallStep < 1 ? 1 : page-smallStep}) }}"
                   aria-label="Small step left">
                    <span aria-hidden="true">-{{ smallStep }}</span>
                </a>
            </li>

            {% set rangeLeft = page - 4 %}
            {% if rangeLeft < 1 %}
                {% set rangeLeft = 1 %}
            {% endif %}
            {% set rangeRight = rangeLeft + 8 %}
            {% if rangeRight > maxPages %}
                {% set rangeRight = maxPages %}
                {% set rangeLeft = rangeRight - 8 %}
            {% endif %}
            {% if rangeLeft < 1 %}
                {% set rangeLeft = 1 %}
            {% endif %}

            {% if rangeLeft > 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&hellip;</a>
                </li>
            {% endif %}

            {# Render each page number #}
            {% for i in rangeLeft..rangeRight %}
                <li class="page-item{{ page == i ? ' active' }}">
                    <a class="page-link" href="{{ path('homepage', {department_id: department.getDeptNo(), page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if rangeRight < maxPages %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&hellip;</a>
                </li>
            {% endif %}

            <li class="page-item{{ page == maxPages ? ' disabled' }}">
                <a class="page-link"
                   href="{{ path('homepage', {department_id: department.getDeptNo(), page: page+smallStep <= maxPages ? page+smallStep : maxPages}) }}"
                   aria-label="Small step right">
                    <span aria-hidden="true">+{{ smallStep }}</span>
                </a>
            </li>

            <li class="page-item{{ page == maxPages ? ' disabled' }}">
                <a class="page-link"
                   href="{{ path('homepage', {department_id: department.getDeptNo(), page: page+bigStep <= maxPages ? page+bigStep : maxPages}) }}"
                   aria-label="Big step right">
                    <span aria-hidden="true">+{{ bigStep }}</span>
                </a>
            </li>

            <li class="page-item{{ page == maxPages ? ' disabled' }}">
                <a class="page-link"
                   href="{{ path('homepage', {department_id: department.getDeptNo(), page: maxPages}) }}"
                   aria-label="End">
                    <span aria-hidden="true">&#8677;</span>
                </a>
            </li>

        </ul>
    </nav>
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
    </tr>
    </thead>
    <tbody>
    {% for assignee in parted %}
        {% set employee = assignee.getEmployee() %}
        <tr>
            <td>
                {{ employee.getLastName() }} {{ employee.getFirstName() }}
            </td>
            <td>{{ assignee.getFromDate()|date('Y-m-d') }}</td>
            <td>{{ assignee.getToDate()|date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


