{% set departments = ui_helper.getDepartments() %}
{% if departments %}
    <ul class="nav flex-column">
        {% for departmentToShow in departments %}
            {% set activeClass = '' %}
            {% if not department is null and departmentToShow.getDeptNo() == department.getDeptNo() %}
                {% set activeClass = ' active' %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link{{ activeClass }}"
                   href="{{ path('homepage', {'department_id': departmentToShow.getDeptNo()}) }}">{{ departmentToShow.getDeptName }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-light" role="alert">
        No departments found
    </div>
{% endif %}
