<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
    </tr>
    </thead>
    <tbody>
    {% for manager in department.getManagers() %}
        {% set employee = manager.getEmployee() %}
        <tr>
            <td>
                {{ employee.getFirstName() }} {{ employee.getLastName() }}
            </td>
            <td>{{ manager.getFromDate()|date('Y-m-d') }}</td>
            <td>{{ manager.getToDate()|date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>