<ul class="nav nav-pills" style="margin-bottom: 12px;">
    <li class="nav-item">
        <a class="nav-link{% if tab=='employees' %} active{% endif %}" href="?tab=employees">Employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if tab=='managers' %} active{% endif %}" href="?tab=managers">Managers</a>
    </li>
</ul>